body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}

/* Estilo do cabeçalho */
header {
    background-color: #222;
    color: #ffb400;
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / -1; /* Estende o cabeçalho por todas as colunas */
}

.logo {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffb400;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff4500; /* cor de laranja para hover */
}

/* Container Principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

.container h1 {
    text-align: center;
    color: #333;
    font-size: 3em;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
}

.container h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background: #e7e6e6;
    margin: 15px auto 0;
    border-radius: 2px;
    animation: pulse 1.5s infinite;
}

.news-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 25px;
    transition: transform 0.3s, background 0.3s;
    border-radius: 15px;
}

.news-item:hover {
    background: linear-gradient(145deg, #ffffff, #fefefe);
    transform: translateY(-3px);
}

.news-item:last-child {
    border-bottom: none;
}

.news-item img {
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    margin-right: 25px;
    border: 2px solid #ff6f61;
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-content h2 {
    color: #ff6f61;
    font-size: 2.2em;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.news-content h2::before {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #ff6f61;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    animation: expand 0.5s ease-out;
}

.news-content p {
    color: #000000;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 10px;
}

.news-content .director {
    color: #2980b9;
    font-weight: bold;
}

.news-content .box-office {
    color: #ff0000;
    background: #ff6f61;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    align-self: start;
    transition: background 0.3s;
}

.news-content .box-office:hover {
    background: #e55b54;
}

section {
    padding: 6rem 2rem;
    margin-top: 4rem;
    background: linear-gradient(145deg, #707070, #605a5a);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

section h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background: #ffffff;
    margin: 0.5rem auto 0;
    border-radius: 2px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-top: 1px solid #ccc;
}

footer p {
    margin-bottom: 10px;
}

footer h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff8579;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}



